# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.gz

# Main binary
main

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Swap files
*.swp

# documentation files
.project
output/
dokumentation.pdf
*.pdf
*.backup
*.bak
*.orig
*.aux
*.bbl
*.bcf
*.blg
*.glo
*.ist
*.lof
*.glg
*.gls
*.log
*.lol
*.lot
*.xml
*.toc
*.log

# example files
example-files/

# logs
logs/
